body {
  background-color: #bbe1a8;
  margin: 0;
  padding: 0;
}

#pagewrap {
  width: 70%;
  height: auto;
  background-color: white;
  margin: 1em auto;
  padding: 15px 15px 25px 15px;
  max-width: 1400px;
}

title {
    font-family: "Helvetica";
    font-size: 50px;
  
}

h1 {
  font-family: "Helvetica";
  font-size: 50px;
  text-align: center;
  color:  #44547e;

}

h2 {
  font-family: "Helvetica";
  font-size: 30px;
  text-align: center;
  color: #44547e;
  margin-bottom: 6px;
}

h3 {
  font-family: "Helvetica";
  font-size: 16px;
  text-align: center;
}

h4 {
  font-family: "Helvetica";
  font-size: 16px;
  color: #7585c1;
  margin-bottom: 1px;
}

ul {
  list-style-type: circle;
  font-family: helvetica;
  font-size: 14px;
  text-align: left;
  margin-top: 6px;
}

p {
  font-family: helvetica;
  font-size: 14px;
  text-align: left;
}

img {
  width: 300px;
  border-radius: 15%;
  max-width: 100%;
  height: auto;
}

hr {
  width: 90%;
  height: 4px;
  background: #44547e;
}



