body {
  background-color: #617C61;
  margin: 0;
  padding: 0;
}

#pagewrap {
  width: 70%;
  height: auto;
  background-color: white;
  margin: 1em auto;
  padding: 15px 15px 65px 15px;
  max-width: 1400px;
}

title {
  font-family: "Helvetica";
  font-size: 50px;
  
}

h1 {
  font-family: "Helvetica";
  font-size: 60px;
  text-align: center;
  color:  #44547e;

}

h2 {
  font-family: "Helvetica";
  font-size: 35px;
  text-align: center;
  color: #44547e;
  margin-bottom: 6px;
}

h3 {
  font-family: "Helvetica";
  font-size: 23px;
  text-align: center;
}

h4 {
  font-family: "Helvetica";
  font-size: 17px;
  color: #7585c1;
  margin-top: 10px;
  margin-bottom: 1px;
}

ul {
  list-style-type: circle;
  font-family: helvetica;
  font-size: 17px;
  text-align: left;
  margin-top: 6px;
  line-height: 22px;
}

p {
  font-family: helvetica;
  font-size: 17px;
  text-align: left;
}

img {
  width: 300px;
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}

hr {
  width: 90%;
  height: 4px;
  background: #44547e;
}

.menu {
  overflow: hidden;
  background-color: #f2f2f1;
  padding: 15px 7px;
  width: 98%;
  text-align: center;
}

.menu a {
  font-family: helvetica;
  float: left;
  color: #44547e;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  line-height: 15px;
  border-radius: 4px;
}

.menu a.active {
  background-color: #7585c1;
  color: white;
}

.header-right {
  font-size: 18px;
  float: none;
  display: inline-block;
}


